{% extends 'frota/base.html' %}

{% block titulo %}Painel de Administração{% endblock %}

{% block conteudo %}
<div class="card shadow-sm text-center">
    <div class="card-header">
        <h2>Painel de Administração</h2>
    </div>
    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
        <a href="{% url 'gerenciar_regionais' %}" class="btn btn-secondary btn-lg px-4 gap-3">
            <i class="fa-solid fa-globe"></i> Gerenciar Regionais
        </a>
        <a href="{% url 'gerenciar_departamentos' %}" class="btn btn-primary btn-lg px-4 gap-3">
            <i class="fa-solid fa-building"></i> Gerenciar Departamentos
        </a>
        <a href="{% url 'gerenciar_modelos' %}" class="btn btn-info btn-lg px-4 gap-3">
            <i class="fa-solid fa-car-rear"></i> Gerenciar Modelos
        </a>
        <a href="{% url 'gerenciar_veiculos' %}" class="btn btn-success btn-lg px-4">
            <i class="fa-solid fa-car"></i> Gerenciar Veículos
        </a>
    </div>
</div>
{% endblock %}